<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>510795217258-igbrduuqusu18p66hk27j1u1ofvb1m6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510795217258-igbrduuqusu18p66hk27j1u1ofvb1m6j</string>
	<key>API_KEY</key>
	<string>AIzaSyD_wu54Trdryw6Wrg1k1E8EaJEH6pKM9Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>510795217258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CU-Student.Project-1</string>
	<key>PROJECT_ID</key>
	<string>advappproject</string>
	<key>STORAGE_BUCKET</key>
	<string>advappproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510795217258:ios:a225ecb89b708ccd</string>
	<key>DATABASE_URL</key>
	<string>https://advappproject.firebaseio.com</string>
</dict>
</plist>