<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>653243730682-gk9tdmkuntpp187n209jljflvp56656n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653243730682-gk9tdmkuntpp187n209jljflvp56656n</string>
	<key>API_KEY</key>
	<string>AIzaSyDhv8jio2ylwD6ngfNgfUzPjPR5-76__zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>653243730682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CU-Student.Lab-5</string>
	<key>PROJECT_ID</key>
	<string>lab-5-959f8</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-5-959f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653243730682:ios:b92f907b2492b895</string>
	<key>DATABASE_URL</key>
	<string>https://lab-5-959f8.firebaseio.com</string>
</dict>
</plist>